APP_TITLE=Webconf
APP_DESC=Webconf
APP_DEFAULT_LANG=zh-TW

APP_URL=http://localhost:3000
APP_BASE_URL=/

# API 位置（SSR 可用 APP_API，瀏覽器端走 public.APP_API）
APP_API=http://localhost:3000/api

WEB_SEARCH=NO

# 是否保留 console.log / console.info（YES 保留，其他移除）
SHOW_CONSOLE_LOG=YES
