@tailwind base;
@tailwind components;
@tailwind utilities;

/* 第三方套件初始樣式 */
@layer base {
  /* lenis 設定 */
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }

  /* shadcn 預設樣式 */
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

/* 全域樣式 */
@layer base {
  * {
    @apply border-border;
  }

  html {
    font-family: "Noto Sans TC", sans-serif;
  }

  a {
    cursor: none;
  }

  /* shadcn 設定 */
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .about-img-filter {
    filter: grayscale(100%) brightness(60%);
    transition: filter 0.3s ease;
  }

  .about-img-filter.is-hovered {
    filter: grayscale(0%) brightness(100%);
  }
}

@layer utilities {
  .blue-shadow {
    @apply shadow-[0px_6px_40px_8px_rgba(0,46,255,0.4)];
  }

  @media (min-width: 640px) {
    .text-body-16 {
      font-size: 16px;
    }

    .text-body-18 {
      font-size: 18px;
    }

    .text-h4-24 {
      font-size: 24px;
    }

    .text-h4-60 {
      font-size: 60px;
    }
    .text-h5-20 {
      font-size: 20px;
    }
  }
}

/* 組件樣式 */
@layer components {
  /* ArrowDirective 樣式 */
  .arrow-directive {
    @apply relative;
    --arrow-direction: 1;
    --arrow-color: #e6e6e6;
    --arrow-speed-1: 2s;
    --arrow-speed-2: 2s;
    --arrow-delay: 0s;
  }

  .arrow-directive::before,
  .arrow-directive::after {
    content: "";
    @apply z-10;
    @apply absolute;
    top: -6px;
    display: block;
    width: 100%;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
  }

  .arrow-directive[style*="--arrow-direction: 1"]::before,
  .arrow-directive[style*="--arrow-direction: 1"]::after {
    left: 0px;
    border-left: 16px solid var(--arrow-color);
    border-right: none;
  }

  .arrow-directive[style*="--arrow-direction: -1"]::before,
  .arrow-directive[style*="--arrow-direction: -1"]::after {
    right: 0px;
    border-right: 16px solid var(--arrow-color);
    border-left: none;
  }

  .arrow-directive::before {
    animation: arrow-run-right var(--arrow-speed-1) ease-in-out infinite;
  }

  .arrow-directive::after {
    animation: arrow-run-right var(--arrow-speed-2) ease-in-out infinite;
    animation-delay: var(--arrow-delay);
    opacity: 0;
    content: none;
  }

  .arrow-directive[style*="--arrow-direction: -1"]::before {
    animation: arrow-run-left var(--arrow-speed-1) ease-in-out infinite;
  }

  .arrow-directive[style*="--arrow-direction: -1"]::after {
    animation: arrow-run-left var(--arrow-speed-2) ease-in-out infinite;
    animation-delay: var(--arrow-delay);
  }

  .arrow-directive[style*="--arrow-count: 2"]::after {
    opacity: 1;
    content: "";
  }

  /* 向右動畫 */
  @keyframes arrow-run-right {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(100%);
    }
  }

  /* 向左動畫 */
  @keyframes arrow-run-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
