@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: -moz-hidden-unscrollable;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  height: 100%;
  width: 100vw;
  overflow-y: auto;
  /* overflow-x: hidden; */
  font-family: 'Noto Sans TC', sans-serif;
}
