@layer base {
  html {
    scrollbar-gutter: stable;
  }

  html,
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: theme('fontFamily.Noto');
  }

  input[type='search'],
  input[type='number'] {
    -webkit-appearance: none;
  }

  *:focus {
    outline: none;
  }

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

.page-enter-active,
.page-leave-active {
  transition:
    opacity 0.3s ease,
    filter 0.3s ease;
  will-change: opacity, filter;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(12px);
}

.page-enter-to,
.page-leave-from {
  opacity: 1;
  filter: blur(0);
}
